body {
  font-family: "Lato", sans-serif;
  text-align: center;
}
.work {
  column-count: 2;
  column-rule-style: solid;
}
.SkRef {
  column-count: 2;
}
#contact {
  font-size: 0.8rem;
}
.contact-btn a {
  color: black;
  position: relative;
  cursor: pointer;
  margin-right: 30px;
  padding: 8px 18px;
  border: 1px solid #204156;
}

.contact-btn a:active {
  top: 2px;

}
a {text-decoration: none;}
.header {
  column-count: 2;
}
